.default {
    padding: 5;
    background-color: red;
    color: yellow;
    font-size: 12;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    margin: 10;
}
.changed-styles {
    margin: 10;
    padding: 5;
    font-size: 12;
    /* text-decoration: line-through; */
    background-color: yellowgreen;
    color: white;
    text-align: left;
}